body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.right {
  position: absolute;
  right: 20px;
}
.navbar {
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
}

.banner-l {
  background-image: url(../../assets/im-s.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #343a40;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.banner-r {
  margin-left: 532px;
}

.banner-r-t {
  padding: 18em 0px;
}

.banner-r-t-a {
  padding: 6em 0px;
}

.banner-r-t-a h2 {
  color: #06073a;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
}

.banner-r-t h2 {
  color: #06073a;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 1440px) {
  .banner-l {
    width: 500px;
    min-height: 728px;
  }
  .banner-r {
    margin-left: 500px;
  }
}

@media (max-width: 991px) {
  .banner-l {
    width: 100%;
    position: inherit;
    background-position: inherit;
    min-height: 574px;
  }
  .banner-r {
    margin-left: 0px;
  }
}

@media (max-width: 568px) {
  .banner-l {
    min-height: 350px;
  }
  .banner-r-t {
    padding: 4em 0px;
  }
}
